*.swp
bazel-*
compile_commands.json
*.exe
*.ilk
*.pdb
*.obj
*.tlog
*.idb
*.recipe
*.stamp
*.suo
*.db*
*.user
*.zip
*.lib
*.exp
*.pyc
*.dll
*.log
output/
x64/
.vs/
Cmake/
*.pc
*.tmp
